@import '../../colors.css';

.caribbean-green-glow {
  text-shadow:
    var(--caribbean-green) 0 0 60px,
    var(--caribbean-green) 0 0 40px,
    var(--caribbean-green) 0 0 20px,
    var(--caribbean-green) 0 0 10px;
  position: relative;
  display: inline-block;
}

.caribbean-green-glow::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 0px;
  height: 0px;
  box-shadow: var(--caribbean-green) 0 0 500px 30px;
  border-radius: 100%;
  z-index: -900;
}

.bright-turquoise-glow {
  text-shadow:
    var(--bright-turquoise) 0 0 60px,
    var(--bright-turquoise) 0 0 40px,
    var(--bright-turquoise) 0 0 20px,
    var(--bright-turquoise) 0 0 10px;
  position: relative;
  display: inline-block;
}

.bright-turquoise-glow::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 0px;
  height: 0px;
  box-shadow: var(--bright-turquoise) 0 0 500px 30px;
  border-radius: 100%;
  z-index: -900;
}

.bigger-when-small {
  width: 200%;
  margin: 0 auto;
  position: relative;
  left: -50%;
  max-width: initial;
}

.hover--underline-thick {
  position: relative;
}

.hover--underline-thick:after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  background-color: var(--caribbean-green);
  transition: opacity .15s, transform .15s;
  transform: translateY(8px);
}

.hover--underline-thick:hover:after {
  opacity: 1;
  transform: translateY(0);
}

.Home a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(2, 202, 173, 0.2)
}

.Home a:hover {
  border-bottom: 1px solid var(--caribbean-green)
}

.Home header a,
.Home header a:hover {
  border-bottom: none
}

.Home footer nav a {
  border-bottom-color: transparent
}

/* Hero cursor blinking */
.Home .hero-cursor:after {
  content: '';
  width: 1px;
  height: 40px;
  position: relative;
  right: -3px;
  bottom: -7px;
  display: inline-block;
  background-color: #fff;
  animation: cursor 1.5s step-end infinite;
}

@keyframes cursor {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

@media screen and (min-width: 480px) {
  .Home .hero-cursor:after {
    height: 50px;
  }
}

/* Hero headline "editing" animation + tooltip */
.Home .hero-editing {
  padding-left: 4px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

/* text highlight */
.Home .hero-editing:before {
  content: '';
  width: 100%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 0;
  display: none;
  background: var(--caribbean-green);
  z-index: -1;
  animation: highlight 7s steps(1) infinite;
}

@keyframes highlight {
  0%   { width: 0; }
  50%  { width: 20% ;}
  52%  { width: 40% ;}
  53%  { width: 47% ;}
  55%  { width: 56% ;}
  56%  { width: 63% ;}
  57%  { width: 81% ;}
  59%  { width: 100% ;}
  90%  { width: 0; }
  100% { width: 0;}
}

/* tooltip */
.Home .hero-editing:after {
  content: '';
  width: 273px;
  height: 38px;
  display: none;
  position: absolute;
  top: -40px;
  left: 0;
  background: url('/images/hero-tooltip.png') no-repeat center center;
  background-size: contain;
  animation: tooltip 7s infinite;
}

@keyframes tooltip {
  0%   { opacity: 0; }
  53%  { opacity: 0; top: -30px; }
  58%  { top: -40px; }
  60%  { opacity: 1; }
  93%  { opacity: 1; }
  100%  { opacity: 0; }
}

@media screen and (min-width: 900px) {
  /* show animation for large screens only */
  .Home .hero-editing:before,
  .Home .hero-editing:after {
    display: block;
  }
}

/* Features list section with globe */
.Home #features-list {
  background: url('/images/globe.png') no-repeat;
  background-position: center top;
  background-size: 600px auto;
  padding-top: 300px;
}

@media screen and (min-width: 680px) {
  /* The big wave backgrounds are heavy and complex, so skip them on mobile devices. */
  .bg-hero-wave {
    position: relative;
    z-index: 200;
    height: auto;
  }

  .bg-hero-wave-inner {
    content: '';
    display: block;
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: transparent center no-repeat;
    background-size: 100% auto;
    opacity: 0.2;
    mix-blend-mode: soft-light;
  }

 .bigger-when-small {
    width: 100%;
    margin: 0 auto;
    position: static;
    left: 0%;
    max-width: 100%;
 }
}

@media screen and (min-width: 1024px) {
  /* The spot lights make the text hard to read on small screens so we dial them
   * down by default and dial them up on larger screens.
  */
  .bright-turquoise-glow::after {
    width: 400px;
    box-shadow: var(--bright-turquoise) -350px -20px 1000px 22px;
  }
 .caribbean-green-glow::after {
    width: 400px;
    box-shadow: var(--caribbean-green) -250px -20px 1000px 22px;
  }
}

@media screen and (max-width: 60em) and (min-width: 30em) {

}

@media screen and (min-width: 60em) {
  .Home #features-list {
    background-size: 1000px auto;
    background-position: center center;
    padding-top: 0;
  }

  .Home #features-list .hexicon:before {
    content: '';
    width: 137px;
    height: 179px;
    position: absolute;
    opacity: .5;
    background: no-repeat center center;
    background-size: contain;
  }

  .Home #features-list :nth-child(1) .hexicon:before {
    right: -137px;
    top: 50%;
    background-image: url('/images/line-top-left.svg');
  }
  .Home #features-list :nth-child(2) .hexicon:before {
    left: -137px;
    top: 50%;
    background-image: url('/images/line-top-right.svg');
  }
  .Home #features-list :nth-child(3) .hexicon:before {
    right: -137px;
    bottom: 50%;
    background-image: url('/images/line-bottom-left.svg');
  }
  .Home #features-list :nth-child(4) .hexicon:before {
    left: -137px;
    bottom: 50%;
    background-image: url('/images/line-bottom-right.svg');
  }
}
