@import '../colors.css';

.CodeMirror {
  color: var(--white-lilac);
  background-color: var(--big-stone);
  height: calc(100vh - 220px);
}
.CodeMirror pre {
  padding-left: 30px;
}
.CodeMirror-gutters {
  background-color: var(--cloud-burst);
  border-right: 0;
}
.CodeMirror-lines {
  padding: 30px 0;
}
.CodeMirror-linenumber {
  color: var(--blue-bayox);
  padding: 0 13px 0 7px;
  font-size: 10px;
}
.CodeMirror-cursor {
  border-color: var(--white-lilac);
}
.cm-s-default .cm-header {
  font-weight: normal;
  color: var(--bright-turquoise);
}
.cm-s-default .cm-variable-2,
.cm-s-default .cm-quote {
  color: var(--white-lilac);
}
.cm-s-default .cm-link,
.cm-s-default .cm-url {
  color: var(--bright-turquoise);
}
.cm-s-default .cm-comment {
  color: var(--pigeon-post);
}
