@import '../colors.css';

.Preview {
  padding-left: 35px;
}
.Preview h1,
.Preview h2,
.Preview h3,
.Preview h4,
.Preview h5,
.Preview h6 {
  font-weight: normal;
}
.Preview h1::before,
.Preview h2::before,
.Preview h3::before,
.Preview h4::before,
.Preview h5::before,
.Preview h6::before {
  font-size: 14px;
  font-weight: lighter;
  color: var(--pigeon-post);
  display: inline-block;
  width: 0;
  margin-left: -35px;
  margin-right: 35px;
  vertical-align: baseline;
}
.Preview h1::before {
  content: 'H1';
}
.Preview h2::before {
  content: 'H2';
}
.Preview h3::before {
  content: 'H3';
}
.Preview h4::before {
  content: 'H4';
}
.Preview h5::before {
  content: 'H5';
}
.Preview h6::before {
  content: 'H6';
}
