/* Thanks http://chir.ag/projects/name-that-color */
:root {
  --blue-bayox: #50617B;
  --bright-turquoise: #23e0f7;
  --dull-turquoise: #1fccdf;
  --caribbean-green: #02caad;
  --cloud-burst: #233855;
  --dove-gray: #656464;
  --firefly: #0e1d32;
  --big-stone: #1a2c45;
  --black-pearl: #081527;
  --pigeon-post: #b5c5df;
  --razzmatazz: #FB0D5B;
  --white-lilac: #f3f6fb;
}
