@import 'colors.css';

button:focus {
  outline: 0;
}

.white-lilac {
  color: var(--white-lilac);
}
.dove-gray {
  color: var(--dove-gray);
}
.bright-turquoise {
  color: var(--bright-turquoise);
}

.hover--white:hover {
  color: white;
}
.hover-target:hover .hover--bright-turquoise,
.hover--bright-turquoise:hover {
  color: var(--bright-turquoise);
}

.bg-big-stone {
  background-color: var(--big-stone);
}
.bg-firefly {
  background-color: var(--firefly);
}
.bg-bright-turquoise {
  background-color: var(--bright-turquoise);
}

.b--black-stone {
  border-color: var(--black-pearl);
}
.b--firefly {
  border-color: var(--firefly);
}
.b--bright-turquoise {
  border-color: var(--bright-turquoise);
}

.stroke--current-color path,
.stroke--current-color polyline,
.stroke--current-color circle {
  stroke: currentColor;
}
