@import 'colors.css';

input:focus,
button:focus {
  outline: 0;
}

.white-lilac {
  color: var(--white-lilac);
}
.dove-gray {
  color: var(--dove-gray);
}
.bright-turquoise {
  color: var(--bright-turquoise);
}
.pigeon-post {
  color: var(--pigeon-post);
}
.dove-gray {
  color: var(--dove-gray);
}
.blue-bayox {
  color: var(--blue-bayox);
}

.hover--white-lilac:hover {
  color: var(--white-lilac);
}
.hover--white:hover {
  color: white;
}
.hover-target:hover .hover--bright-turquoise,
.hover--bright-turquoise:hover {
  color: var(--bright-turquoise);
}
.hover--blue-bayox:hover {
  color: var(--blue-bayox);
}

.bg-big-stone {
  background-color: var(--big-stone);
}
.bg-firefly {
  background-color: var(--firefly);
}
.bg-bright-turquoise {
  background-color: var(--bright-turquoise);
}
.bg-cloud-burst {
  background-color: var(--cloud-burst);
}

.b--black-stone {
  border-color: var(--black-pearl);
}
.b--firefly {
  border-color: var(--firefly);
}
.b--bright-turquoise {
  border-color: var(--bright-turquoise);
}
.b--pigeon-post {
  border-color: var(--pigeon-post);
}

.fill--current-color path {
  fill: currentColor;
}

.stroke--current-color path,
.stroke--current-color polyline,
.stroke--current-color circle {
  stroke: currentColor;
}
